# Dependencies
node_modules/
.pnp
.pnp.js

# Environment Files
.env
.env.local
.env.*.local
*.env

# Python & Virtualenv
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/

# Build & Dist
dist/
build/
dist-ssr/
*.local

# System & IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo

# Data
data/
